## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Visual Studio cache/options directory
.vs/

## .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

## NuGet Packages
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/
*.nuget.props
*.nuget.targets

## Build results
export/

## User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

## VS Code
.vscode/

## Rider
.idea/

## OS files
.DS_Store
Thumbs.db

